<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card header="ทสภ." isButton="false">
  <div class="row ">
    <div class="col-sm-2 text-left">
      <button-back routerLink="/water/water003"></button-back>
    </div>
    <div class="col-sm-4">
      <!-- <button class="btn btn-primary btn-sm" (click)="typeUser = 0" [ngClass]="{'active': typeUser == 0}"><i
          class="fa fa-users" aria-hidden="true"></i> ผู้ประกอบการ</button>
      <button class="btn btn-primary btn-sm" (click)="typeUser = 1" [ngClass]="{'active': typeUser == 1}"><i
          class="fa fa-address-card" aria-hidden="true"></i>
        พนักงาน</button> -->
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li [ngClass]="{'active': typeUser == 0, '': typeUser == 1}">
            <button class="btn" (click)="typeUser = 0"><i class="fa fa-users blue-color" aria-hidden="true"></i><span
                class="blue-color">ผู้ประกอบการ</span></button>
          </li>
          <li [ngClass]="{'active': typeUser == 1, '': typeUser == 0}">
            <button class="btn" (click)="typeUser = 1"><i class="fa fa-address-card blue-color"
                aria-hidden="true"></i><span class="blue-color">พนักงาน</span></button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 text-right">
      <button-save (click)="onCkeckValidator()"></button-save>
    </div>
  </div>
  <hr>
  <form [formGroup]="formSave">
    <div class="row mt-2">
      <div class="col-3 text-right ">
        <p *ngIf="typeUser == 0">รหัสผู้ประกอบการ <span class="text-danger">*</span> :</p>
        <p *ngIf="typeUser == 1">รหัสพนักงาน <span class="text-danger">*</span> :</p>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-sm"
            [placeholder]="typeUser == 0?'ค้นหารหัสผู้ประกอบการ':'ค้นหารหัสพนักงาน'" aria-label="รหัสผู้ประกอบการ"
            aria-describedby="button-addon2" [value]="formSave.value.userCode">
          <div class="input-group-append">
            <button class="btn btn-outline-info" type="button" (click)="openModalCustom2(customModal2)">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3 text-right ">
        <p *ngIf="typeUser == 0">ชื่อผู้ประกอบการ<span class="text-danger">*</span> :</p>
        <p *ngIf="typeUser == 1">ชื่อพนักงาน<span class="text-danger">*</span> :</p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm"
          [placeholder]="typeUser == 0?'ค้นหาชื่อผู้ประกอบการ':'ค้นหาชื่อพนักงาน'" readonly
          [value]="formSave.value.userName">
      </div>
    </div>
    <div class="row mt-2" *ngIf="typeUser==0">
      <div class="col-3 text-right ">
        <p>สาขา <span class="text-danger">*</span> :</p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" formControlName="branch" readonly>
      </div>
    </div>
    <div class="row mt-2" *ngIf="typeUser==0">
      <div class="col-3 text-right ">
        <p>เลขที่สัญญา :</p>
      </div>
      <div class="col-4">
        <input formControlName="contractNo" list="contractNo" class="form-control form-control-sm" />
        <datalist id="contractNo">
          <option *ngFor="let items of contractNoList" [value]="items.contractNo">{{items.contractNo}}</option>
        </datalist>
        <!-- <input formControlName="contractNo" [typeahead]="contractNoList" typeaheadOptionField="contractNo"
          [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5"
          [placeholder]="contractNoList.length == 0?'':'กรุณากรอกเลขที่สัญญา'" class="form-control form-control-sm"
          [readonly]="contractNoList.length == 0"> -->
      </div>
    </div>
    <div class="row mt-2" *ngIf="typeUser==0">
      <div class="col-3 text-right ">
        <p>ประเภทที่ขอใช้ <span class="text-danger">*</span> :</p>
      </div>
      <div class="col-4">
        <select class="form-control form-control-sm" formControlName="requestType">
          <option value="" selected disabled>กรุณาเลือกประเภทที่ขอใช้</option>
          <option *ngFor="let item of requestTypeList" [value]="item.descTh1">{{item.descTh1}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-2" *ngIf="typeUser==1">
      <div class="col-3 text-right ">
        <p>หมายเลขบัตรประจำตัวประชาชน :</p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" maxlength="13">
      </div>
    </div>
    <!-- <ng-container *ngIf="formSave.value.requestType === 'อื่น ๆ'&& typeUser === 0">
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>วิธีการชำระเงินประกัน :</p>
        </div>
        <div class="col-4">
          <select class="form-control form-control-sm" formControlName="paymentType">
            <option *ngFor="let item of paymentTypeList" [value]="item.descTh1">{{item.descTh1}}</option>
          </select>
        </div>
      </div>
    </ng-container> -->
    <ng-container *ngIf="formSave.value.requestType === 'ขอใช้เหมาจ่าย' && typeUser === 0">
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>ประเภท <span class="text-danger">*</span> :</p>
        </div>
        <div class="col-4">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" formControlName="adhocType" id="radio1" value="0">
            <label class="custom-control-label" for="radio1">เฉลี่ย/คน/วัน</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" formControlName="adhocType" id="radio2" value="1">
            <label class="custom-control-label" for="radio2">เหมาหน่วย</label>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>จำนวนคน <span class="text-danger">*</span> :</p>
        </div>
        <div class="col-3">
          <input type="text" class="form-control form-control-sm" [readonly]="formSave.value.adhocType !== '0'"
            placeholder="กรุณากรอกจำนวนคน" formControlName="personUnit">
        </div>
        <div class="col-1">
          <label>คน</label>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>จำนวนหน่วย <span class="text-danger">*</span> :</p>
        </div>
        <div class="col-3">
          <input type="text" class="form-control form-control-sm" placeholder="กรุณากรอกจำนวนหน่วย"
            formControlName="adhocUnit" [readonly]="formSave.value.adhocType !== '1'">
        </div>
        <div class="col-1">
          <label>หน่วย</label>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>อัตราค่าภาระ <span class="text-danger">*</span> :</p>
        </div>
        <div class="col-3">
          <input type="text" class="form-control form-control-sm" placeholder="กรุณากรอกอัตราค่าภาระ"
            formControlName="sumChargeRate">
        </div>
        <div class="col-1">
          <label>บาท</label>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>สถานที่ใช้น้ำ <span class="text-danger">*</span> :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" placeholder="กรุณากรอกสถานที่ใช้น้ำ"
            formControlName="installPosition">
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="formSave.value.requestType !== 'ขอใช้เหมาจ่าย' && formSave.value.requestType !== 'อื่น ๆ' || typeUser === 1">
      <div class="row mt-2" *ngIf="typeUser === 0">
        <div class="col-3 text-right ">
          <p>ขนาดมิเตอร์ <span class="text-danger">*</span> :</p>
        </div>
        <div class="col-4">
          <select class="form-control form-control-sm" (change)="searchRate()" formControlName="meterType">
            <option value="" selected disabled>กรุณาเลือกขนาดมิเตอร์</option>
            <option [value]="item.waterMaintenanceConfigId" *ngFor="let item of waterSizeList">{{item.waterMeterSize}}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>Serial No. มิเตอร์ <span class="text-danger">*</span> :</p>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Serial No. มิเตอร์"
              aria-label="Serial No. มิเตอร์" aria-describedby="button-addon2" formControlName="meterSerialNo">
            <div class="input-group-append">
              <button class="btn btn-outline-info" type="button" (click)="openModalCustom(customModal)">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>ชื่อมิเตอร์ :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly [value]="formSave.value.meterName">
        </div>
      </div>
      <br *ngIf="typeUser == 0">
      <div class="row mt-2" *ngIf="typeUser == 0">
        <div class="col-3 text-right ">
          <p>เงินประกัน :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly [value]="formSave.value.insuranceRates">
        </div>
      </div>
      <div class="row mt-2" *ngIf="typeUser == 0">
        <div class="col-3 text-right ">
          <p>ภาษีเงินประกัน :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly [value]="formSave.value.vatInsurance">
        </div>
      </div>
      <div class="row mt-2" *ngIf="typeUser == 0">
        <div class="col-3 text-right ">
          <p>รวมเงินประกันใช้น้ำประปา :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly
            [value]="formSave.value.totalInsuranceChargeRates">
        </div>
      </div>
      <br *ngIf="typeUser == 0">
      <div class="row mt-2" *ngIf="typeUser == 0">
        <div class="col-3 text-right ">
          <p>ค่าติดตั้งมิเตอร์ :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly [value]="formSave.value.installRates">
        </div>
      </div>
      <div class="row mt-2" *ngIf="typeUser == 0">
        <div class="col-3 text-right ">
          <p>ภาษีค่าติดตั้งมิเตอร์ :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly [value]="formSave.value.vatInstall">
        </div>
      </div>
      <div class="row mt-2" *ngIf="typeUser == 0">
        <div class="col-3 text-right ">
          <p>รวมค่าติดตั้งมิเตอร์ :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly
            [value]="formSave.value.totalInstallChargeRates">
        </div>
      </div>
      <br *ngIf="typeUser == 0">
      <div class="row mt-2" *ngIf="typeUser == 0">
        <div class="col-3 text-right ">
          <p>รวมค่าใช้จ่ายทั้งหมด :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly [value]="formSave.value.totalChargeRates">
        </div>
      </div>
      <br *ngIf="typeUser == 0">
      <div class="row mt-2">
        <div class="col-3 text-right ">
          <p>สถานที่ตั้งมิเตอร์ :</p>
        </div>
        <div class="col-4">
          <input type="text" class="form-control form-control-sm" readonly>
        </div>
      </div>
      <div class="row mt-2" *ngIf="typeUser == 0">
        <div class="col-3 text-right ">
          <p>วิธีการชำระเงินประกัน :</p>
        </div>
        <div class="col-4">
          <select class="form-control form-control-sm" formControlName="paymentType">
            <option value="" selected disabled>กรุณาเลือกวิธีการชำระเงินประกัน</option>
            <option *ngFor="let item of paymentTypeList" [value]="item.descTh1">{{item.descTh1}}</option>
          </select>
        </div>
      </div>
    </ng-container>
    <div class="row mt-2" *ngIf="typeUser==0 && formSave.value.requestType !== 'อื่น ๆ'">
      <div class="col-3 text-right ">
        <p>พื้นที่เช่า :</p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" readonly [value]="formSave.value.rentalAreaCode">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3 text-right ">
        <p>วันที่ขอใช้บริการ <span class="text-danger">*</span> :</p>
      </div>
      <div class="col-4">
        <input-calendar (changeDate)="setDate('requestStartDate', $event)"></input-calendar>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3 text-right ">
        <p>วันที่สิ้นสุดการใช้บริการ <span class="text-danger">*</span> :</p>
      </div>
      <div class="col-4">
        <input-calendar (changeDate)="setDate('requestEndDate', $event)"></input-calendar>
      </div>
    </div>
    <div class="row mt-2" *ngIf="typeUser==1 || formSave.value.requestType === 'อื่น ๆ'">
      <div class="col-3 text-right ">
        <p>ที่อยู่ใบแจ้งหนี้ :</p>
      </div>
      <div class="col-4">
        <textarea class="form-control form-control-sm" rows="4"></textarea>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3 text-right ">
        <p>
          หมายเหตุ
          <!-- <span class="text-danger" *ngIf="formSave.value.requestType !== 'ขอใช้เหมาจ่าย' && typeUser === 0">*</span> : -->
        </p>
      </div>

      <div class="col-4">
        <textarea class="form-control form-control-sm" rows="4" formControlName="remark"></textarea>
      </div>
    </div>
    <ng-container>

    </ng-container>

  </form>
  <ng-container *ngIf="formSave.value.requestType === 'อื่น ๆ'">
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <p>รายละเอียด</p>
          <div class="form-group text-right" *ngIf="!isUploadFile">
            <button-add (click)="showModal()" wording="เพิ่มค่าภาระ"></button-add>
          </div>
          <table id="datatableChange" class="table table-bordered table-striped table-sm" style="width:100%">
            <thead class="text-center">
              <tr>
                <th>ประเภทบริการ</th>
                <th>อัตราค่าภาระ</th>
                <th>ค่าภาษี</th>
                <th>จำนวนเงินสุทธิ</th>
                <th>การจัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="formSave.value.serviceCharge.length === 0 && typeUser === 0">
                <td colspan="7" class="text-center">ไม่มีข้อมูล</td>
              </tr>
              <tr *ngFor="let data of formSave.value.serviceCharge; let i = index;">
                <td>{{data.chargeType}}</td>
                <td class="text-right">{{data.chargeRate}}</td>
                <td class="text-right">{{data.chargeVat}}</td>
                <td class="text-right">{{data.totalChargeRate}}</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm" type="button" (click)="delDetail(i)">
                    <i class="fa  fa-times" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="4" class="text-right">
                  คำนวณรวมอัตราค่าภาระ </td>
                <td class="text-right">{{sum | decimalFormat:"###,###"}} บาท</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <p>รายละเอียด</p>
        <div class="form-group text-right" *ngIf="!isUploadFile">
          <button-add (click)="showModal()" wording="เพิ่มค่าภาระ"></button-add>
        </div>
        <table id="datatableChange" class="table table-bordered table-striped table-sm" style="width:100%">
          <thead class="text-center">
            <tr>
              <th>เฟส</th>
              <th>ประเภทบริการ</th>
              <th>ขนาดการใช้ไฟฟ้า(แอมแปร์)</th>
              <th>อัตราค่าภาระ</th>
              <th>ค่าภาษี</th>
              <th>จำนวนเงินสุทธิ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="formSave.value.serviceCharge.length === 0 && typeUser === 0">
              <td colspan="7" class="text-center">ไม่มีข้อมูล</td>
            </tr>
            <tr *ngFor="let data of formSave.value.serviceCharge; let i = index;">
              <td>{{data.electricPhase}}</td>
              <td>{{data.chargeType}}</td>
              <td>{{data.electricAmpere}}</td>
              <td class="text-right">{{data.chargeRate}}</td>
              <td class="text-right">{{data.chargeVat}}</td>
              <td class="text-right">{{data.totalChargeRate}}</td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="5" class="text-right">
                คำนวณรวมอัตราค่าภาระ </td>
              <td class="text-right">{{5 | decimalFormat:"###,###"}} บาท</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div> -->

</app-card>

<ng-template #customModal>
  <div class="modal-header">
    <p>เลือกมิเตอร์</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table id="datatable" class="table table-bordered table-striped table-sm" style="width:100%">
      <thead class="text-center">
        <tr>
          <th>Serial No. มิเตอร์</th>
          <th>ชื่อมิเตอร์</th>
          <th>ประเภทมิเตอร์</th>
          <th>สถานที่ตั้งมิเตอร์</th>
          <th>สถานที่ตั้งมิเตอร์</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="modal-footer text-right">
    <button-close (click)="onCloseModal()"></button-close>
  </div>
</ng-template>

<ng-template #customModal2>
  <div class="modal-header">
    <p>เลือก
      <ng-container *ngIf="typeUser === 0">ผู้ประกอบการ</ng-container>
      <ng-container *ngIf="typeUser === 1">พนักงาน</ng-container>
    </p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table id="datatableCus" class="table table-bordered table-striped table-sm" style="width: 100%">
      <thead class="text-center">
        <tr>
          <ng-container *ngIf="typeUser === 0">
            <th>รหัสผู้ประกอบการ</th>
            <th style="text-align: center!important">ชื่อผู้ประกอบการ</th>
            <th style="text-align: center!important">รหัสสาขา</th>
            <th style="text-align: center!important">ทีอยู่</th>
          </ng-container>
          <ng-container *ngIf="typeUser === 1">
            <th>รหัสพนักงาน</th>
            <th style="text-align: center">ชื่อพนักงาน</th>
          </ng-container>
          <th>การจัดการ</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="modal-footer text-right">
    <button-close (click)="onCloseModal()"></button-close>
  </div>
</ng-template>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">รายละเอียด</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <form [formGroup]="formServiceCharge">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">เฟส:</label>
            <select class="form-control form-control-sm" formControlName="waterPhase" (change)="searchConfig()">
              <option value="" hidden>กรุณาเลือกเฟส</option>
              <option *ngFor="let item of electricPhaseList" [value]="item.descTh1">{{item.descTh1}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ขนาดการใช้ไฟฟ้า(แอมแปร์):</label>
            <select class="form-control form-control-sm" formControlName="waterAmpere" (change)="searchConfig()">
              <option value="" hidden>กรุณาเลือกขนาดการใช้ไฟฟ้า(แอมแปร์)</option>
              <option *ngFor="let item of electricAmpereRangeList" [value]="item.descTh1">{{item.descTh1}}</option>
            </select>
          </div>
          <table class="table table-bordered table-striped table-sm" style="width: 100%">
            <tr *ngFor="let item of configList">
              <th>{{item.serviceType}}</th>
              <td class="text-right">{{item.chargeRates}}</td>
            </tr>
          </table>
        </form> -->
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ประเภท:</label>
            <select class="form-control form-control-sm" (change)="selectOtherFunc($event.target.value)">
              <option value="" hidden>กรุณาเลือกประเภท</option>
              <option [value]="item.waterType" *ngFor="let item of otherList">{{item.waterType}}</option>
            </select>
          </div>
          <div class="row">
            <div class="col-3 text-right ">
              <p>อัตราค่าภาระ: </p>
            </div>
            <div class="col-7">
              <input type="text" class="form-control form-control-sm" readonly
                [value]="formServiceCharge.value.chargeRate">
            </div>
            <div class="col-2 text-left">
              <p>บาท </p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3 text-right ">
              <p>ภาษีมูลค่าเพิ่ม: </p>
            </div>
            <div class="col-7">
              <input type="text" class="form-control form-control-sm" readonly
                [value]="formServiceCharge.value.chargeVat">
            </div>
            <div class="col-2 text-left">
              <p>บาท </p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3 text-right ">
              <p>จำนวนเงินรวม: </p>
            </div>
            <div class="col-7">
              <input type="text" class="form-control form-control-sm" readonly
                [value]="formServiceCharge.value.totalChargeRate">
            </div>
            <div class="col-2 text-left">
              <p>บาท </p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button-save data-dismiss="modal" (click)="addServiceCharge()"></button-save>
        <button-cancel (click)="hideModal()"></button-cancel>
      </div>
    </div>
  </div>
</div>

<modal-error #errorModal></modal-error>
<modal-alert #alertModal [body]="'บันทึกรายการไม่สำเร็จ'"></modal-alert>
<modal-confirm #saveModal (onConfirm)="onSave()">
</modal-confirm>
<modal-success #successModal [body]="'บันทึกรายการสำเร็จ'"></modal-success>