<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card isButton="false">
  <div class="row">
    <div class="col-sm-6 text-left">
      <button-back (click)="onBack()"></button-back>
    </div>
    <div class="col-sm-6 text-right">
      <button-save (click)="onOpenModalSave()"></button-save>
    </div>
  </div>

  <hr>
  <form [formGroup]="formGroup">
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>รหัสผู้ประกอบการ/พนักงาน : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" readonly formControlName="customerCode">
      </div>
      <div class="col-2 text-right ">
        <p>ชื่อผู้ประกอบการ/พนักงาน : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" readonly formControlName="customerName">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>เลขที่สัญญา :</p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" formControlName="contractNo" readonly>
      </div>
      <div class="col-2 text-right ">
        <p>Serial No. มิเตอร์น้ำ : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" formControlName="serialNo" readonly>
      </div>

    </div>

    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>ชื่อมิเตอร์น้ำ : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" formControlName="meterName" readonly>
      </div>
      <div class="col-2 text-right ">
        <p>ประเภทมิเตอร์น้ำ : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" formControlName="meterType" readonly>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>สถานที่ตั้งมิเตอร์น้ำ : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" placeholder="" formControlName="meterLocation" readonly>
      </div>
      <div class="col-2 text-right ">
        <p>พื้นที่เช่า : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" placeholder="" formControlName="rentalAreaCode"
          readonly>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>เงินประกัน : </p>
      </div>
      <div class="col-3">
        <input type="text" class="form-control form-control-sm" placeholder="" formControlName="chargeRates" readonly>
      </div>
      <div class="col-1 ">
        <p> บาท </p>
      </div>
      <div class="col-2 text-right ">
        <p>ภาษีมูลค่าเพิ่ม : </p>
      </div>
      <div class="col-3">
        <input type="text" class="form-control form-control-sm" placeholder="" formControlName="vat" readonly>
      </div>
      <div class="col-1 ">
        <p> บาท </p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>รวมค่าใช้จ่ายทั้งหมด : </p>
      </div>
      <div class="col-3">
        <input type="text" class="form-control form-control-sm" placeholder="" formControlName="totalchargeRates"
          readonly>
      </div>
      <div class="col-1 ">
        <p> บาท </p>
      </div>
      <div class="col-2 text-right ">
        <p>วันที่สิ้นสุดการใช้งาน : <span class="text-danger">*</span> </p>
      </div>
      <div class="col-4">
        <input-calendar (changeDate)="dateChange($event)" #calendar>
        </input-calendar>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>หมายเหตุ : </p>
      </div>

      <div class="col-10">
        <textarea class="form-control form-control-sm" formControlName="remark"></textarea>
      </div>
    </div>
  </form>
</app-card>

<!-- saveModal -->
<modal-confirm #saveModal (onConfirm)="onClickSave()">
</modal-confirm>
<!-- successModal -->
<modal-success #successModal>
</modal-success>
<!-- errorModal -->
<modal-error #errorModal>
</modal-error>