<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card header="ทสภ." isButton="false">
  <div class="row ">
    <div class="col-md-6 text-left">
      <button-back routerLink="/electricity/ele009"></button-back>
    </div>
    <div class="col-md-6 text-right">
      <button-save (click)="modalSave.openModal()"></button-save>
    </div>
  </div>
  <hr>
  <form [formGroup]="formDetail">
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>วันที่มีผล : </p>
      </div>
      <div class="col-4">
        <input-calendar (changeDate)="validDate($event)"></input-calendar>
      </div>
      <div class="col-2 text-right ">
        <p>อัตราค่าภาระ : </p>
      </div>
      <div class="col-3">
        <input type="test" class="form-control form-control-sm text-right" placeholder="" formControlName="value"
          maxlength="12">
      </div>
      <div class="col-1 ">
        <p> บาท </p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>ประเภทบริการ : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" formControlName="codeType" maxlength="90" readonly>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>หมายเหตุ : </p>
      </div>

      <div class="col-10">
        <textarea class="form-control form-control-sm" formControlName="remark" maxlength="90"></textarea>
      </div>
    </div>
  </form>

</app-card>


<!-- saveModal -->
<modal-confirm #saveModal (onConfirm)="onSave()">
</modal-confirm>