<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

<app-card>
  <form [formGroup]="formSearch" id="upload-form">
    <div class="row">
      <div class="col-md-2">
        <input-calendar (changeDate)="setDate($event)" format="MM/yyyy" #calendar1></input-calendar>
      </div>
      <div class="col-md-10 text-right">
        <!-- <button-custom icon="fa fa-refresh" wording="ซิงค์ข้อมูล" (click)="confirm('SYNC')"
          [disabled]="countSyncData == 0">
        </button-custom> -->
        <!-- <button-download (click)="downloadTemplate()" [disabled]="table.length == 0"></button-download> -->
        <input type="file" name="file" id="file"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
          (change)="onChangeUpload($event)" style="background-color: #f2f2f2; border-radius: 0 8px 8px 0 !important;">
        <button-excel (click)="uploadExcel()" [disabled]="file.length == 0"></button-excel>
        <button-sap (click)="sendToSAP()" [disabled]="idxList.length == 0"></button-sap>
        <!-- <button-excel wording="upload"></button-excel> -->
      </div>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col-md-12">
      <div class="scrollX">
        <table id="datatable" class="table table-bordered table-striped table-sm display" style="width:100%">
          <thead>
            <tr class="text-center">
              <th rowspan="2">
                <div class="form-check">
                  <input class="form-check-input position-static" type="checkbox" (click)="checkAll($event)"
                    [disabled]="table.length == 0">
                </div>
              </th>
              <th rowspan="2">รหัสที่อยู่</th>
              <!-- <th>เบอร์โทรศัพท์</th> -->
              <th rowspan="2">ผู้ประกอบการ</th>
              <th rowspan="2">ค่าโทรศัพท์</th>
              <th rowspan="2">ค่าบำรุงรักษา</th>
              <th rowspan="2">ค่าบริการเครื่องพ่วง</th>
              <th rowspan="2">ค่าเช่าคู่สายภายใน</th>
              <th rowspan="2">ค่าเช่าคู่สายภายนอก</th>
              <th rowspan="2">รวมเงิน(บาท)</th>
              <th rowspan="2">ภาษีมูลค่าเพิ่ม</th>
              <th rowspan="2">ยอดรวมค่าบริการทั้งหมด</th>
              <!-- <th rowspan="2">สถานะ</th> -->
              <th colspan="3">ค่าโทรศัพท์</th>
            </tr>
            <tr>
              <th>เลขที่ใบแจ้งหนี้</th>
              <th>เลขที่ใบเสร็จ</th>
              <th>สถานะ SAP</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</app-card>

<!-- saveModal -->
<modal-confirm #saveModal (onConfirm)="save()">
</modal-confirm>
<!-- successModal -->
<modal-success #successModal>
</modal-success>
<!-- errorModal -->
<modal-error #errorModal>
</modal-error>
<!-- syncModal -->
<modal-confirm #syncModal (onConfirm)="syncData()">
</modal-confirm>

<ng-template #contractNoModal>
  <div class="modal-header">
    <p>รายละเอียดเลขที่สัญญา</p>
  </div>
  <div class="modal-body">
    <table id="datatable" class="table table-bordered table-striped table-sm" style="width:100%">
      <thead class="text-center">
        <tr>
          <!-- <th class="text-center">Serial No. มิเตอร์</th> -->
          <!-- <th class="text-center">ขนาดมิเตอร์</th> -->
          <th class="text-center">เลขที่ใบแจ้งหนี้</th>
          <th class="text-center">เลขที่ใบเสร็จ</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="modal-footer text-right">
    <button-close (click)="onCloseModal()"></button-close>
  </div>
</ng-template>

<ng-template #telephoneChargeModal>
  <div class="modal-header">
    <p>รายละเอียดค่าโทรศัพท์</p>
  </div>
  <div class="modal-body">
    <table id="datatable" class="table table-bordered table-striped table-sm" style="width:100%">
      <thead class="text-center">
        <tr>
          <th class="text-center">นครหลวง</th>
          <th class="text-center">ภายในประเทศ</th>
          <th class="text-center">ระหว่างประเทศ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of telephoneCharge">
          <td class="text-right">{{ item.locAmt + item.locSvc | decimalFormat }}</td>
          <td class="text-right">{{ item.lngAmt + item.lngSvc | decimalFormat }}</td>
          <td class="text-right">{{ item.ovsAmt + item.ovsSvc | decimalFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer text-right">
    <button-close (click)="onCloseModal()"></button-close>
  </div>
</ng-template>