<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card isButton="false">
  <form [formGroup]="formSearch">
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>Serial No. มิเตอร์ : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" placeholder="Serial No. มิเตอร์"
          formControlName="serialNo" />
      </div>
      <div class="col-2 text-right ">
        <p>ชื่อมิเตอร์ :</p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" placeholder="ชื่อมิเตอร์" formControlName="meterName" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>สถานที่ตั้งมิเตอร์ :</p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" placeholder="สถานที่ตั้งมิเตอร์"
          formControlName="meterLocation" />
      </div>
      <div class="col-2 text-right ">
        <p>สถานะ : </p>
      </div>
      <div class="col-4">
        <select class="form-control form-control-sm" formControlName="status">
          <option value="" selected>ทั้งหมด</option>
          <option value="Y">ใช้งาน</option>
          <option value="N">ไม่ใช้งาน</option>
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-right">
        <button-search (click)="getFindList()"></button-search>
      </div>
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col-md-12 text-right">
      <!-- <button-excel wording="Export CSV"></button-excel> -->
      <button-add routerLink="/water/water003detail"></button-add>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="scrollX">
        <table id="dataTable" class="table table-bordered table-striped table-sm" style="width:100%">
          <thead class="text-center">
            <tr>
              <th rowspan="2" class="text-center">รหัสผู้ประกอบการ</th>
              <th rowspan="2" class="text-center">ชื่อผู้ประกอบการ</th>
              <th rowspan="2" class="text-center">เลขที่สัญญา</th>
              <th rowspan="2" class="text-center">ชื่อมิเตอร์</th>
              <th rowspan="2" class="text-center">อัตราค่าภาระ</th>
              <th rowspan="2" class="text-center">วันที่ขอใช้</th>
              <th rowspan="2" class="text-center">วันที่สิ้นสุด</th>
              <th rowspan="2" class="text-center">สถานะ</th>
              <td colspan="3" class="text-center">เงินสด</td>
              <td colspan="3" class="text-center">เงินประกัน</td>
              <th rowspan="2" class="text-center" style="border-left: 1px solid #dee2e6;">จัดการ</th>
            </tr>
            <tr>
              <th class="text-center">เลขที่ใบแจ้งหนี้</th>
              <th class="text-center">เลขที่ใบเสร็จ</th>
              <th class="text-center">สถานะ</th>
              <th class="text-center">เลขที่ใบแจ้งหนี้</th>
              <th class="text-center">เลขที่ใบเสร็จ</th>
              <th class="text-center">สถานะ</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-card>

<modal-error #errorModal></modal-error>
<modal-alert #alertModal></modal-alert>
<app-modal #normalModal></app-modal>
<!-- successModal -->
<modal-success #successModal>
</modal-success>