<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

<app-card isButton="false">
  <div class="row">
    <div class="col-md-3">
   
    </div>
    <div class="col-md-9 text-right">

      <button-add routerLink="/firebrigade/firebrigade001detail"></button-add>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-sm" style="width:100%">
        <thead class="text-center">
          <tr>
            <th>หน่วยงาน/ผู้ประกอบการ</th>
            <th> เลขที่สัญญา</th>
            <th> หลักสูตร</th>
            <th>อัตราที่จัดเก็บ</th>
            <th>วันที่ฝึกอบรม</th>
            <th>จำนวน</th>
            <th>รวมค่าบริการ </th>
            <th>เลขที่ใบแจ้งหนี้</th>
            <th>เลขที่ใบเสร็จ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="9" align="center">ไม่มีข้อมูล</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>