<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card header="ทสภ." isButton="false">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12 text-right">
          <button-add routerLink="/water/water009detail"></button-add>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="scrollX">

            <table id="datatable" class="table table-bordered table-striped table-sm" style="width:100%">
              <thead>
                <tr>
                  <th class="text-center" rowspan="2">ผู้ประกอบการ</th>
                  <th class="text-center" rowspan="2">เลขที่สัญญา</th>
                  <th class="text-center" rowspan="2">ค่าความสกปรก</th>
                  <th class="text-center" rowspan="2">จำนวนหน่วย</th>
                  <th class="text-center" rowspan="2">ค่าปรับน้ำเสีย</th>
                  <th class="text-center" rowspan="2">วันที่บันทึก</th>
                  <th class="text-center" colspan="3">ค่าปรับน้ำเสีย</th>
                  <th class="text-center" rowspan="2" style="border-left: 1px solid #dee2e6;">จัดการ</th>
                </tr>
                <tr>
                  <th>เลขที่ใบแจ้งหนี้</th>
                  <th>เลขที่ใบเสร็จ</th>
                  <th>สถานะ SAP</th>
                </tr>
              </thead>
            </table>

          </div>

        </div>

      </div>


    </div>
  </div>
</app-card>

<!-- errorModal -->
<modal-error #errorModal>
</modal-error>

<!-- successModal -->
<modal-success #successModal>
</modal-success>

<!-- modalRemark -->
<modal-custom #modalRemark header="หมายเหตุ">
  <div body>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control form-control-sm" readonly>{{remarkStr}}</textarea>
      </div>
    </div>
  </div>
</modal-custom>