<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

<app-card isButton="false">
  <div class="row">
    <div class="col-md-12 text-right">
      <button-add routerLink="/water/water002detail"></button-add>
      <!-- <button-edit></button-edit> -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <table id="datatable" class="table table-bordered table-striped table-sm" style="width:100%">
        <thead class="text-center">
          <tr>
            <th class="text-center">ท่าอากาศยาน</th>
            <th class="text-center">Serial No. มิเตอร์</th>
            <th class="text-center">ชื่อมิเตอร์</th>
            <th class="text-center">ขนาดมิเตอร์</th>
            <th class="text-center">สถานที่ตั้งมิเตอร์</th>
            <th class="text-center">สถานะ</th>
            <th class="text-center">หมายเหตุ</th>
            <th class="text-center">รายละเอียด</th>
            <th class="text-center">แก้ไข</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</app-card>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">รายละเอียด</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="datadetail">
        <form>
          <div class="row mt-2">
            <div class="col-4 text-right ">
              <p>ท่าอากาศยาน :</p>
            </div>
            <div class="col-8">
              <input class="form-control form-control-sm" type="text" value="{{datadetail.airport}}" readonly>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4 text-right ">
              <p>Serial No.มิเตอร์ :</p>
            </div>
            <div class="col-8">
              <input class="form-control form-control-sm" type="text" value="{{datadetail.serialNo}}" readonly>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4 text-right ">
              <p>ชื่อมิเตอร์ :</p>
            </div>
            <div class="col-8">
              <input class="form-control form-control-sm" type="text" value="{{datadetail.meterName}}" readonly>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4 text-right ">
              <p>ขนาดมิเตอร์ :</p>
            </div>
            <div class="col-8">
              <input class="form-control form-control-sm" type="text" value="{{datadetail.meterType}}" readonly>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4 text-right ">
              <p>สถานที่ตั้งมิเตอร์ :</p>
            </div>
            <div class="col-8">
              <input class="form-control form-control-sm" type="text" value="{{datadetail.meterLocation}}" readonly>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4 text-right ">
              <p>สถานะ :</p>
            </div>
            <div class="col-8">
              <input class="form-control form-control-sm" type="text" value="{{datadetail.meterStatus}}" readonly>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4 text-right ">
              <p>หมายเหตุ :</p>
            </div>
            <div class="col-8">
              <textarea class="form-control form-control-sm" value="{{datadetail.remark}}" readonly></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button-cancel (click)="hideModal()"></button-cancel>
      </div>
    </div>
  </div>
</div>

<modal-custom #modalRemark header="หมายเหตุ">
  <div body>
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control form-control-sm" readonly>{{remarkStr}}</textarea>
      </div>
    </div>
  </div>
</modal-custom>
<!-- errorModal -->
<modal-error #errorModal>
</modal-error>