

<app-card isButton="false">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9 text-right">
      <button-add routerLink="/garbagedis/garbagedis0302detail"></button-add>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-sm" style="width:100%">
        <thead class="text-center">
          <tr>
            <th>วันที่มีผล</th>
            <th> ขนาด</th>
            <th>อัตราค่าภาระ</th>
            <th>วันที่ปรับปรุง</th>
            <th>ปรับปรุงโดย</th>
            <th>หมายเหตุ </th>
            <th>แก้ไข</th>
            <th>
              ประวัติ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12/01/2561</td>
          
            <td>1 กก.</td>
            <td>3.5 บาท</td>
            <td>15/02/2561 16:20</td>
            <td>
              นาย สมชาย รักการงาน</td>
            <td align="center">
              <button-icon color="info"><i class="fa fa-search" aria-hidden="true"></i></button-icon>
            </td>
            <td align="center">
              <button-icon color="info"><i class="fa fa-edit" aria-hidden="true"></i></button-icon>
            </td>
            <td align="center">
              <button-icon color="info"><i class="fa fa-history" aria-hidden="true"></i></button-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>